
[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=emblem-cool
Name=Emblems
Name[ru]=Эмблемы
Name[ru_RU]=Эмблемы
Exec=r7-emblems.sh
Terminal=false
Categories=Filesystem;
